{
  "parser": "babel-eslint",
  "rules": {
    "arrow-body-style":          "as-needed",
    "brace-style":               "1tbs",
    "camelcase":                  1,
    "comma-spacing":              0,
    "comma-dangle":             [ 2, "always-multiline" ],
    "complexity":               [ 2, 12 ],
    "eol-last":                   2,
    "func-names":                 0,
    "guard-for-in":               2,
    "id-length":                  0,
    "indent":                   [ 2, 2, { "SwitchCase": 1 } ],
    "keyword-spacing":          [ "error", { "before": true } ],
    "max-depth":                [ 2, 3 ],
    "max-len":                  [ 2, 100, 2, { "ignoreComments": true, } ],
    "max-nested-callbacks":     [ 2, 3 ],
    "max-statements":           [ 2, 15 ],
    "max-params":               [ 2, 5 ],
    "no-duplicate-imports":       1,
    "no-else-return":             0,
    "no-loop-func":               "error",
    "no-multi-spaces":            "error",
    "no-nested-ternary":          "error",
    "no-param-reassign":        [ "error", { "props": false } ],
    "no-sequences":               "error",
    "no-undef":                   "error",
    "no-undefined":               "error",
    "no-underscore-dangle":       "error",
    "no-unused-expressions":      "error",
    "no-unused-vars":             "error",
    "no-use-before-define":       "error",
    "no-useless-escape":          "error",
    "no-var":                     "error",
    "no-multiple-empty-lines":  [ "error", { "max": 2, "maxEOF": 1 } ],
    "prefer-const":               "error",
    "radix":                      "always",
    "space-before-function-paren": 0,
    "strict":                      2,
    "vars-on-top":                 0
  }
}
